BSTSmartScholarship.Business/Service References/AccountingService/accounting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://accounting.bstsmartscholarship.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://accounting.bstsmartscholarship.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://accounting.bstsmartscholarship.com/">
      <s:element name="RequestRefund">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="reimbursementAmount" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestRefundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestRefundResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestRefundSoapIn">
    <wsdl:part name="parameters" element="tns:RequestRefund" />
  </wsdl:message>
  <wsdl:message name="RequestRefundSoapOut">
    <wsdl:part name="parameters" element="tns:RequestRefundResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountingSoap">
    <wsdl:operation name="RequestRefund">
      <wsdl:input message="tns:RequestRefundSoapIn" />
      <wsdl:output message="tns:RequestRefundSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountingSoap" type="tns:AccountingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestRefund">
      <soap:operation soapAction="http://accounting.bstsmartscholarship.com/RequestRefund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountingSoap12" type="tns:AccountingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestRefund">
      <soap12:operation soapAction="http://accounting.bstsmartscholarship.com/RequestRefund" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Accounting">
    <wsdl:port name="AccountingSoap" binding="tns:AccountingSoap">
      <soap:address location="http://accounting.bstsmartscholarship.com/accounting.asmx" />
    </wsdl:port>
    <wsdl:port name="AccountingSoap12" binding="tns:AccountingSoap12">
      <soap12:address location="http://accounting.bstsmartscholarship.com/accounting.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>